@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "./variables/colors";
@import "./bootstrap-override.scss";

body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "../components/header/header.scss";
@import "../components/interactionModal/interactionModal.scss";
@import "../components/menuBar/menuBar.scss";
@import "../components/modal/modal.scss";

.max-width {
  max-width: 1280px;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 15;
}
.spinner-center {
  position: absolute;
  left: calc(50% - 1.5rem);
  width: 3rem;
  top: calc(50% - 1.5rem);
  height: 3rem;
}
